<!DOCTYPE html>

<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/mapIntegration/stylesheet.css" />
		<body style = "background-color:#3d3d3d"></body>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>



	<body>
		<div id="header">
			<h1>Campus Run</h1>
		</div>

		<div id="content">
			<div id="nav">
				<ul>
					<li><a class="selected" href="indexg.html">Start a New Run</a></li>
					<li><a class="selected" href="beads soccer flag.xml">View Previous Runs</a></li>
				</ul>
			</div>
		</div>	
		<div id="content2">
			<div class="grid">
                    <iframe
                        width="600"
                        height="450"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen>
                    </iframe>
            </div>
            <div class="grid">
                <form action="{% url 'mapIntegration:submit'%}"method="post">
                    {% csrf_token %}
                    <fieldset>
                        <label for="name">Enter the name of the route: : </label>
                        <input type="text" name="name" id="name" required>                        
                        <label for="addr1">Enter starting address: </label>
                        <input type="text" name="addr1" id="addr1" required>
                        <label for="addr1">Enter ending address: </label>
                        <input type="text" name="addr2" id="addr2" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
		</div>	
		<div id="footer">  
				<p>Copyright JETPAD &copy;</p>
		</div>

	</body>
	<script>
		if(navigator.geolocation){
			navigator.geolocation.getCurrentPosition(function(position){
				console.log(position);
				var pos = {
					lat: position.coords.latitude,
            		lng: position.coords.longitude,
				};
				console.log(pos.lat);
				console.log(pos.lng);
		var temp = document.querySelector('iframe');
		temp.setAttribute('src', 'https://www.google.com/maps/embed/v1/search?key=AIzaSyDIA5OQv3KAXVj2PG9w8JoeFPFwl3TITI0&q=' + `${pos.lat},${pos.lng}`);			
	});}
		else{
			console.log("geolocation not available");
		}

	</script>	
	</html>