

<!--
<html lang="en">
    <head>
        <link rel="stylesheet" href="../../static/blog/style.css">
        <meta charset="utf-8"/>
        <title>Campus Run</title>
    </head>
    <body>
        <div>
            <form action="index" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend><h1>Bruh</h1></legend>
                    <label for="addr1">Enter address 1: </label>
                    <input type="text" name="addr1" id="addr1" required>
                    <label for="addr1">Enter address 2: </label>
                    <input type="text" name="addr2" id="addr2" required>
                <input type="submit" value="Post">
            </form>
        </div>
    </body>
</html>
-->
<!DOCTYPE html>

<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/mapIntegration/stylesheet.css" />
		<body style = "background-color:#3d3d3d"></body>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div id="header">
			<h1>Campus Run</h1>
		</div>

		<div id="content">
			<div id="nav">
				<div id="blogs">
				<ul>
					<li><a class="selected" href="indexg.html">Start a New Run</a></li>
					<li><a class="selected" href="beads soccer flag.xml">View Previous Runs</a></li>
				</ul>
				</div>
			</div>
		</div>	
		<div id="content2">
			<iframe
 				 width="600"
				height="450"
				style="border:0"
				loading="lazy"
				allowfullscreen
				src="https://www.google.com/maps/embed/v1/search
					?key=AIzaSyDIA5OQv3KAXVj2PG9w8JoeFPFwl3TITI0
					&q=Space+Needle,Seattle+WA">
			</iframe>
		</div>	
		<div id="footer">  
				<p>Copyright JETPAD &copy;</p>
		</div>

	</body>
</html>